* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: #070707;
    font-family: sans-serif;
}

.call {
    position: relative;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 110px;
    height: 110px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 42px;
    color: #fff;

    cursor: pointer;

    background: linear-gradient(135deg, #67ff39, #17b800);

    box-shadow: 0 0 15px #4cff00, 0 0 40px #38ff00, 0 0 80px #00ff4c;

    animation: buttonFloat 3s ease-in-out infinite, buttonGlow 2s linear infinite;

    position: relative;
    z-index: 20;
    transition: 0.25s;
}

.btn:hover {
    transform: scale(1.12);

    box-shadow: 0 0 30px #63ff5f, 0 0 60px #3fff54, 0 0 120px #26ff00;
}

.btn:active {
    transform: scale(0.9);
}

.btn i {
    animation: phoneShake 1.2s infinite, phoneJump 2.5s infinite;
}

.ring {
    position: absolute;

    border-radius: 50%;
    border: 2px solid #4dff2d;

    opacity: 0;

    animation: ripple 3.5s infinite;
}

.r1 {
    width: 130px;
    height: 130px;
}

.r2 {
    width: 130px;
    height: 130px;
    animation-delay: 1s;
}

.r3 {
    width: 130px;
    height: 130px;
    animation-delay: 2s;
}

.orbit {
    position: absolute;

    width: 150px;
    height: 150px;

    border-radius: 50%;
    border: 2px dashed rgba(90, 255, 70, 0.35);

    animation: rotate 6s linear infinite;
}

.orbit::before {
    content: "";

    position: absolute;

    width: 12px;
    height: 12px;

    background: #7dff5f;

    border-radius: 50%;

    top: -6px;
    left: 50%;

    transform: translateX(-50%);

    box-shadow: 0 0 20px #76ff5e;
}

.particles span {
    position: absolute;

    width: 6px;
    height: 6px;

    background: #7fff67;

    border-radius: 50%;

    box-shadow: 0 0 10px #71ff5a;

    animation: particle 4s linear infinite;
}

.particles span:nth-child(1) {
    animation-delay: 0s;
}

.particles span:nth-child(2) {
    animation-delay: 0.7s;
}

.particles span:nth-child(3) {
    animation-delay: 1.4s;
}

.particles span:nth-child(4) {
    animation-delay: 2.1s;
}

.particles span:nth-child(5) {
    animation-delay: 2.8s;
}

.particles span:nth-child(6) {
    animation-delay: 3.5s;
}

@keyframes ripple {
    0% {
        transform: scale(0.3);
        opacity: 1;
    }

    100% {
        transform: scale(2.2);
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes phoneShake {
    0%,
    100% {
        transform: rotate(0deg);
    }

    8% {
        transform: rotate(-25deg);
    }

    16% {
        transform: rotate(25deg);
    }

    24% {
        transform: rotate(-20deg);
    }

    32% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(-15deg);
    }

    48% {
        transform: rotate(15deg);
    }

    56% {
        transform: rotate(-8deg);
    }

    64% {
        transform: rotate(8deg);
    }

    72% {
        transform: rotate(0deg);
    }
}

@keyframes buttonGlow {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(50deg);
    }
}

@keyframes buttonFloat {
    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes phoneJump {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }
}

@keyframes particle {
    0% {
        transform: rotate(0deg) translateX(70px) scale(0.2);

        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: rotate(360deg) translateX(70px) scale(1.4);

        opacity: 0;
    }
}
