* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #141414;
}

.pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    background: #58ea00;
    color: #fff;
}

.pulse::before,
.pulse::after {
    content: "";
    position: absolute;
    display: block;
    top: -30px;
    bottom: -30px;
    right: -30px;
    left: -30px;
    border-radius: 50%;
    border: 1px solid #58ea00;
    animation: animate 1.5s ease-out infinite;
    opacity: 0;
}

.pulse::after {
    animation-delay: 0.5s;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
